body.background{
    background-color: burlywood;
}
h1#título{
    text-align: center;
    color: brown;
}

p.café{
    color: brown;
    text-align: center;
}

p.teléfono{
    color: brown;
    text-align: right;
}
h1.centradodarkred{
    text-align: center; 
    color: darkred; 
}
div.red{
    color: red;
}